{%extends 'base/base.html'%}

{%block title%} {{title}} {%endblock%}

{%block content%}
	<h1>Registro de Estacionamiento</h1>
	{%from "_macro.html" import render_field%}
	<div class="row">
		<div class="col-md-5">
			{%with messages = get_flashed_messages()%}
				{%if messages%}
					{%for message in messages%}
						<div class="alert alert-dismissible alert-success">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  {{message}}
						</div>
					{%endfor%}
				{%endif%}
			{%endwith%}
			<div class="card card-body">
				<form action="/create" method="POST">
					<div class="form-group">
						<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
						{{render_field(form.nombre, placeholder="Nombre del estacionamiento", class='form-control')}}
					</div>
					<div class="form-group">
						{{render_field(form.c_p, placeholder="Ej: 62588", class='form-control')}}
					</div>
					<div class="form-group">
						{{render_field(form.teléfono, placeholder="Ej: 7772584191", class='form-control')}}
					</div>
					<div class="form-group">
						{{render_field(form.capacidad, placeholder="Ej: 300", class='form-control')}}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-7 pt-4">
			<table class="table table-striped table-bordered bg-white table-sm">
				<thead>
					<tr>
						<td>Nombre</td>
						<td>C.P.</td>
						<td>Teléfono</td>
						<td>Capacidad</td>
						<td>Operaciones</td>
					</tr>
				</thead>
				<tbody>
					{%for estacionamiento in estacionamientos%}
						<tr>
							<td>{{estacionamiento.nombre}}</td>
							<td>{{estacionamiento.c_p}}</td>
							<td>{{estacionamiento.teléfono}}</td>
							<td>{{estacionamiento.capacidad}}</td>
							<td>
								<a href="/edit/{{estacionamiento.id}}" class="btn btn-secondary btn-sm">Edit</a>
								<a href="/delete/{{estacionamiento.id}}" class="btn btn-danger btn-sm btn-delete">Delete</a>
							</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
{%endblock%}